/bootstrap/compiled.php
/vendor
/theme
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db

/.idea
/public/images/bill-cards
!/public/images/bill-cards/EB-Poster*
!/public/images/bill-cards/tmp/.gitignore*