.alert {
    margin: 0 0 14px;
    height: inherit;
}
.footer h5 {
    color: #ccc;
}
.signup-container .alert p {
    font-size: 0.8em;
}
.signup-container .alert ul li {
    font-size: 0.6em;
}
.bill-cards-modal .jumbotron {
    padding: 15px 0;
}

.bill-cards-modal .portrait-row {
    margin-bottom: 25px;
}

.countup {
    font-size: 50px;
}
.countup-skip {
    font-size: 50px;
    line-height: 1.3;
    color: #cccaca;
}
#sendBitcoinsForm {
    padding-bottom: 0;
}
.jumbotron.collect-info {
    padding-top: 15px;
    padding-bottom: 15px;
}
.collect-info .cart-total {
    font-size: 1.3em;
}

.selling-container {padding-top: 40px;}

#premiumInput {width: 80px;}

#sendBitcoinsForm input[type=text],
#sendBitcoinsForm input[type=email]
{
    background-color: #FFFFFF;
    border: 1px solid #ccc;
}

.send-payment-btn-container {
    margin-top: 25px;
}

.modal h2,
.modal div.icon
{color: #fff;}

.modal p a {
    color: #fff;
}

.modal p a:hover {
    color: #e7543d;
}

.btn-default[disabled].ladda-button {
    border-color: transparent;
}
#login-modal-form-message,
#reminder-modal-form-message
{
    margin-bottom: 10px;
}

.calculatorContainer {
    margin-right: 0;
}
.currentExchangeRateContainer {position: relative;}
.rateAjaxLoader {
    position: absolute;
    top: 22%;
    right: -15px;
}
.btn.btn-xs {
    height: 34px;
    line-height: 30px;
    padding: 0 6px;
    font-size: 14px;
}

.white {color: white;}
#accountForm label {
    color: #ccc;
}

@media (max-width: 767px) {
    .bill-cards-modal .bill-cards-container .col-sm-6 {
        margin-bottom: 25px;
    }
    .calculatorInputs {
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media (min-width: 768px) {
    #accountForm .control-label {
        padding-top: 15px;
        margin-bottom: 0;
    }
}