.alert {
    margin: 0;
    height: inherit;
}
.signup-container .alert p {
    font-size: 0.8em;
}
.signup-container .alert ul li {
    font-size: 0.6em;
}
.bill-cards-modal .jumbotron {
    padding: 15px 0;
}

.bill-cards-modal .portrait-row {
    margin-bottom: 25px;
}

.countup {
    font-size: 50px;
}
.countup-skip {
    font-size: 50px;
    line-height: 1.3;
    color: #cccaca;
}

@media (max-width: 767px) {
    .bill-cards-modal .bill-cards-container .col-sm-6 {
        margin-bottom: 25px;
    }
}